<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        I am Ashmeet, 20 years old. Currently studying Computer Programming in
        Seneca College. My hobbies includes: playing basketball, cricket,
        badminton, bowling, shooting, video games. I love to solve puzzles and
        doing art and craft
      </p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates…</p>
  </aside>
</div>